<div>
    <form name="details" id="edit_details" method="post">
        <input type="hidden" name="flag" id="user" value="{{ request.session.username }}"/>
        <input type="hidden" name="flag" id="pk"/>
        <div class="form-row">

            <div class="form-group col-md-6 mb-0">
                <label>Name:</label>
                <input placeholder="Name" type="text" name="name" class="form-control" id="name">
            </div>

            <div class="form-group  col-md-6 mb-0">
                <label>PoC:</label>
                <input placeholder="PoC" type="text" name="poc" class="form-control" id="poc">
            </div>
        </div>
        <br/>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <label>Phone No:</label>
                <input placeholder="Phone No" type="text" name="phone" class="form-control" id="phone">
            </div>

            <div class="form-group  col-md-6 mb-0">
                <label>Email:</label>
                <input placeholder="Email" type="text" name="email" class="form-control" id="email">
            </div>
        </div>
        <br/>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <label>Address:</label>
                <input placeholder="Address" type="text" name="address" class="form-control" id="address">
            </div>

            <div class="form-group  col-md-6 mb-0">
                <label>Pincode:</label>
                <input placeholder="Pincode" type="text" name="pincode" class="form-control" id="pincode">
            </div>
        </div>
        <br/>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                <label for="notes">Notes:</label>
                <textarea style="height:100px;" class="form-control" placeholder="Notes" name="notes" id="notes"></textarea>
            </div>
        </div>
        <br/>
        <div class="form-row">
            <div class="form-group  col-md-6 mb-0">
                <label for="status_div">Verification Status:</label>
                <div id="status_div">
                    <label for="status_y">Yes</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="form-check-input" name="status" id="status_y" value="Y">
                    <label for="status_n">No</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="form-check-input" name="status" id="status_n" value="N">
                </div>

            </div>
            <div class="form-group  col-md-6 mb-0">
                <label for="verified_date">Verified Date:</label>
                <input type="text" id="verified_date" class="form-control" name="verified_date" disabled>
            </div>
        </div>
        <br/>
        <div class="form-row">
            <div class="form-group  col-md-6 mb-0">
                <label for="verified_by">Verified By:</label>
                <input type="text" id="verified_by" class="form-control" name="verified_by" disabled>
            </div>
        </div>
        <br/>
        <div class="form-row" style="justify-content: center;">
            <div class="form-group">
                <div>
                    <a class="btn btn-primary" onclick="update_resource();" id="submit_btn"
                       style="float: left;margin-left: 10px;">Save Changes</a>
                </div>
            </div>
        </div>
    </form>
    <br>
</div>
